body {
    background: green;

}
.A {
    width: 250px;
    height: 120px;
    text-align: center;
    background: gray;
    border-top: 60px;
    border-bottom: 60px;
    border-left:60px ;
    border-right: 60px;
    border-color: white;
    border-style: solid;
    margin: 60px;
    padding: 20px;
}